body{
    background-color: #F2F4F4;
}

nav {
    display: flex;
    background-color:     #2c3e50; /* Color de fondo de la barra de navegación */
    padding: 10px; /* Espacio interno alrededor de la barra */
    border-radius: 6px;
}
/* Estilo para los enlaces de la barra de navegación */
nav a {
    color:  #abb2b9 ; /* Color del texto de los enlaces */
    text-decoration: none; /* Eliminar subrayado en los enlaces */
    padding: 16px; /* Espacio interno alrededor de cada enlace */
    display: inline-block; /* Los enlaces se comportan como bloques en línea */
}

/* Estilo para los enlaces al pasar el ratón por encima */
nav a:hover {
    background-color:   #808b96 ; /* Cambiar color de fondo al pasar el ratón */
    border-radius: 6px;
    color: black;
}

/* Estilo para organizar los elementos en la barra de navegación */
nav ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar relleno */
    display: flex; /* Los elementos se distribuyen en fila */
}

/* Estilo para los elementos de la lista */
nav ul li {
    margin-right: 25px; /* Espacio entre los elementos de la lista */
    display: flex;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}
img {
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
    border-radius: 3px;
}

#marca{
    margin-left: 10px;
}
nav input {
    margin-left: auto;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px; /* Baja el input con respecto a nav */
} 
input {
    box-sizing: border-box;
    width: 20%; /* Ancho del input */
    height: 30px; /* Altura del input */
}
button{
    box-sizing: border-box;
    margin-top: 10px;
    cursor: pointer;
    width: 60px;
    height: 30px;
}
nav input {
    margin-right: 7px;
}
#buscar{
    border-radius: 6px;
}
footer {
    
    background-color: #85929E; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    position: fixed; /* Fijar el pie de página */
    bottom: 0; /* Ubicarlo en la parte inferior de la página */
    width: 83.1em; /*Que ocupe todo el ancho de la página */
    border-radius: 6px;
    border-color: #2c3e50;
    /* height: 9%;
    line-height: 7px; */
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3e50;
}